<div class="animated fadeIn" >
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>系统功能
                </div>
                <div class="card-body">
                    <div class=" form-horizontal" align="center">
        <img src="/img/function.png" width ="897" height = "490"  alt="系统功能"  usemap="#planetmap" />
                <map name="planetmap">
  		<area title="Gerrit代码库，为代码开发者提供代码管理和代码审核的平台" shape="rect" coords="237,41,363,73" href="#" />
		<area title="自主开发中间件软件,实现监控平台运行过程，调用系统各部件实现计算功能" shape="rect" coords="233,109,368,146" href="#" />
		<area title="1号主机" shape="rect" coords="68,403,256,434" href="#" />
		<area title="2号主机" shape="rect" coords="277,403,417,434" href="#" />
		<area title="3号主机" shape="rect" coords="438,403,582,434" href="#" />
		<area title="Python类代码" shape="rect" coords="79,207,208,259" href="#" />
		<area title="Matlab类代码" shape="rect" coords="234,207,364,259" href="#" />
		<area title="C#/C++类代码" shape="rect" coords="386,207,516,259" href="#" />
		<area title="负载均衡功能，自动将计算服务分摊到不同主机，实现各主机平衡使用" shape="rect" coords="519,182,581,287" href="#" />
		<area title="子节点1-1" shape="circle" coords="102,375,22" href="#" />
		<area title="子节点1-2" shape="circle" coords="159,375,22" href="#" />
		<area title="子节点1-3" shape="circle" coords="219,375,22" href="#" />
		<area title="子节点2-1" shape="circle" coords="314,375,22" href="#" />
		<area title="子节点2-2" shape="circle" coords="379,375,22" href="#" />
		<area title="子节点3-1" shape="circle" coords="477,375,22" href="#" />
		<area title="子节点3-2" shape="circle" coords="541,375,22" href="#" />
		<area title="局域网内的用户，代码开发团队成员" shape="circle" coords="731,207,56" href="#" />
		<area title="FTP文件传输协议，将计算结果传输给用户" shape="rect" coords="673,330,789,373" href="#" />
		<area title="发送邮件提醒用户代码运算完成，请及时查收运算结果" shape="rect" coords="673,384,789,428" href="#" />
		<area title="开源分布式版本控制系统，管理不同用户的代码" shape="rect" coords="671,56,788,110" href="#" />
		<area title="SSH安全传输协议有效防止远程管理中的信息泄露，用户代码从本地Git仓库传输到Gerrit代码仓库" shape="rect" coords="427,40,622,103" href="#" />
		<area title="代码运算结果输出" shape="rect" coords="588,369,650,393" href="#" />
		<area title="代码提交到本地Git代码仓库" shape="rect" coords="737,136,801,154" href="#" />
		<area title="用户通过FTP服务器下载运行结果" shape="rect" coords="668,267,731,284" href="#" />
		<area title="邮件提醒用户及时查收运算结果" shape="rect" coords="741,267,803,284" href="#" />
		</map>


                        <table class="layui-table table-responsive-sm" id="table" lay-filter="table"></table>
                        		

                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
    </div>
</div>


